<nav class="bg-light fixed-menu">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
      aria-controls="mobileMenu">
      <img src="assets/img/ico-menu.svg" alt="">
    </button>
  </div>
</nav>
<app-menu-admin></app-menu-admin>

<div class="upload-container">
  <h2>Carga Masiva de Datos</h2>
  <form [formGroup]="form" (ngSubmit)="uploadFile()">
    <label for="file">Selecciona un archivo Excel:</label>
    <input type="file" id="file" (change)="onFileChange($event)" />

    <button type="submit" [disabled]="!form.get('file')?.value || loading">Subir Archivo</button>
  </form>

  <!-- Spinner de carga con GIF -->
  <div *ngIf="loading" class="spinner-container">
    <div class="spinner"></div>
    <p>Subiendo información...</p>
  </div>

  <!-- Mensaje de error -->
  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>

  <!-- Mensaje de éxito -->
  <div *ngIf="successMessage" class="success-message">
    {{ successMessage }}
  </div>
</div>
