<h2>Registrar Administrativo</h2>
<form [formGroup]="administrativoForm" (ngSubmit)="onSubmit()" method="POST">
  <div>
    <label for="nombre">Nombre</label>
    <input id="nombre" formControlName="nombre" type="text" required />
  </div>

  <div>
    <label for="apellido_paterno">Apellido Paterno</label>
    <input id="apellido_paterno" formControlName="apellido_paterno" type="text" required />
  </div>

  <div>
    <label for="apellido_materno">Apellido Materno</label>
    <input id="apellido_materno" formControlName="apellido_materno" type="text" required />
  </div>

  <div>
    <label for="correo_electronico">Correo Electrónico</label>
    <input id="correo_electronico" formControlName="correo_electronico" type="email" required />
  </div>

  <div>
    <label for="num_telefono">Número de Teléfono</label>
    <input id="num_telefono" formControlName="num_telefono" type="text" required />
  </div>

  <div>
    <label for="imagen_perfil">URL de Imagen de Perfil</label>
    <input id="imagen_perfil" formControlName="imagen_perfil" type="text" required />
  </div>

  <div>
    <label>Rol:</label>
    <select formControlName="rolId">
      <option *ngFor="let rol of roles" [value]="rol.id">{{ rol.nombre }}</option>
    </select>
  </div>

  <div>
    <label for="password">Contraseña</label>
    <input id="password" formControlName="password" type="text" required />
  </div>

  <button type="submit" [disabled]="administrativoForm.invalid">Registrar</button>
</form>
