.title {
  font-size: 1.5rem;
  color: #8B1E3F;
  text-align: center;
  margin-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}


.upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 20%;
  width: 350px; /* Tamaño del contenedor */
  height: 350px; /* Tamaño del contenedor */
  justify-content: center;
  cursor: pointer;
  overflow: hidden; /* Asegura que la imagen se mantenga dentro del contenedor redondo */
}


.upload-icon {
  width: 350px; /* Tamaño del contenedor */
  height: 350px; /* Tamaño del contenedor */
  border-radius: 20%; /* Hace que la imagen sea redonda */
  object-fit: cover; /* Asegura que la imagen llene el contenedor sin perder calidad */
}


.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  color: #8B1E3F;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.form-group input {
  font-weight: bold;
  color: #8B1E3F;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #8B1E3F; /* Reducir grosor a 2px */
  outline: none;
  font-size: 1rem;
  background: transparent;
}

.form-group textarea {
  font-weight: bold;
  color: #8B1E3F;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #8B1E3F; /* Reducir grosor a 2px */
  outline: none;
  font-size: 1rem;
  background: transparent;
}

.form-group select {
  font-weight: bold;
  color: #8B1E3F;
  padding: 10px;
  border: 1px solid #ccc; /* Borde normal */
  outline: none;
  font-size: 1rem;
  background: transparent;
  cursor: pointer;
}


.submit-button {
  background-color: #f8c8d6; /* Guinda bajito */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #f8c8d6; /* Guinda bajito cuando está deshabilitado */
  cursor: not-allowed;
}

.submit-button:not(:disabled) {
  background-color: #8B1E3F; /* Guinda fuerte cuando está habilitado */
}

mat-form-field {
  width: 100%; /* Ajusta el valor al porcentaje deseado o píxeles */
}

.mat-select {
  width: 100%; /* Asegura que el contenido del select también se expanda */
}

/* CSS DEL MENU */

.navbar-toggler {
  border: none; /* Sin borde en el botón */
}

.fixed-menu {
  position: fixed; /* Hace que el menú sea fijo */
  top: 0; /* Fijar en la parte superior */
  left: 0; /* Fijar en el lado izquierdo */
  width: 0px; /* Ancho del menú */
  height: 10%; /* Ocupa toda la altura de la ventana */
  background-color: #ffffff; /* Color de fondo */
  top: 12px;
  color: white;
  z-index: 1000; /* Asegura que esté por encima del contenido */
}

.navbar-toggler {
  border: none; /* Sin borde en el botón */
  outline: none !important; /* Asegúrate de que el contorno no aparezca nunca */
  box-shadow: none !important; /* Evita cualquier sombra que pueda aparecer */
}

.navbar-toggler:focus {
  outline: none !important; /* Evita el contorno al hacer clic */
  box-shadow: none !important; /* Evita cualquier sombra al hacer clic */
}

.navbar-toggler:active {
  outline: none !important; /* Evita el contorno mientras el botón está activo */
  box-shadow: none !important; /* Elimina cualquier sombra o efecto activo */
}
