<body>
  <nav class="bg-light fixed-menu">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
        aria-controls="mobileMenu">
        <img src="assets/img/ico-menu.svg" alt="">
      </button>
    </div>
  </nav>
  <app-menu-admin></app-menu-admin>
  <h2 class="title">Agregar padre de familia</h2>
  <form [formGroup]="tutorForm" (ngSubmit)="onSubmit()" class="form-container">

    <div class="image-upload">
      <input type="file" id="upload-photo" formControlName="file" hidden (change)="onImageSelected($event)"
        accept=".jpg, .jpeg, .png"  [ngClass]="{'is-valid': tutorForm.get('file')?.valid,'is-invalid': tutorForm.get('file')?.invalid }"/>
      <label for="upload-photo" class="upload-label">
        <img [src]="imagePreview || 'assets/img/agregar.png'" alt="Subir foto" class="upload-icon" />
      </label>
      <label for="file">Seleccionar foto de perfil *</label>
      <div *ngIf="tutorForm.get('file')?.invalid && tutorForm.get('file')?.touched">
        <div *ngIf="tutorForm.get('file')?.hasError('required')">
          <span class="text-danger">La foto de perfil es obligatorio.</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="nombre">Nombre del padre de familia</label>
      <input id="nombre" formControlName="nombre" type="text" required
        [ngClass]="{'is-valid': tutorForm.get('nombre')?.valid,'is-invalid': tutorForm.get('nombre')?.invalid }" />
      <div *ngIf="tutorForm.get('nombre')?.invalid && tutorForm.get('nombre')?.touched">
        <div *ngIf="tutorForm.get('nombre')?.hasError('required')">
          <span class="text-danger">El nombre es obligatorio.</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="apellido_paterno">Apellido Paterno *</label>
      <input id="apellido_paterno" formControlName="apellido_paterno" type="text" required
        [ngClass]="{'is-valid': tutorForm.get('apellido_paterno')?.valid,'is-invalid': tutorForm.get('apellido_paterno')?.invalid }" />
      <div
        *ngIf="tutorForm.get('apellido_paterno')?.invalid && tutorForm.get('apellido_paterno')?.touched">
        <div *ngIf="tutorForm.get('apellido_paterno')?.hasError('required')">
          <span class="text-danger">El apellido paterno es obligatorio.</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="apellido_materno">Apellido Materno <strong>*opcional*</strong></label>
      <input id="apellido_materno" formControlName="apellido_materno" type="text" />
    </div>

    <div class="form-group">
      <label for="num_telefono">Número de teléfono *</label>
      <input id="num_telefono" formControlName="num_telefono" type="number" required
        [ngClass]="{'is-valid': tutorForm.get('num_telefono')?.valid,'is-invalid': tutorForm.get('num_telefono')?.invalid }" />
      <div *ngIf="tutorForm.get('num_telefono')?.invalid && tutorForm.get('num_telefono')?.touched">
        <div *ngIf="tutorForm.get('num_telefono')?.hasError('required')">
          <span class="text-danger">El teléfono es obligatorio.</span>
        </div>
        <div *ngIf="tutorForm.get('num_telefono')?.hasError('pattern')">
          <span class="text-danger">El teléfono debe tener exactamente 10 numeros.</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="correo_electronico">Correo electrónico *</label>
      <input id="correo_electronico" formControlName="correo_electronico" type="email" required
        [ngClass]="{'is-valid': tutorForm.get('correo_electronico')?.valid,'is-invalid': tutorForm.get('correo_electronico')?.invalid }" />
      <div
        *ngIf="tutorForm.get('correo_electronico')?.invalid && tutorForm.get('correo_electronico')?.touched">
        <div *ngIf="tutorForm.get('correo_electronico')?.hasError('required')">
          <span class="text-danger">El correo es obligatorio.</span>
        </div>
        <div *ngIf="tutorForm.get('correo_electronico')?.hasError('invalidEmail')">
          <span class="text-danger">Debe contener un "&#64;" y un "."</span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Contraseña *</label>
      <input id="password" formControlName="password" type="password" required minlength="8" maxlength="8"
        [ngClass]="{'is-valid': tutorForm.get('password')?.valid,'is-invalid': tutorForm.get('password')?.invalid}" />
      <div *ngIf="tutorForm.get('password')?.invalid && tutorForm.get('password')?.touched">
        <div *ngIf="tutorForm.get('password')?.hasError('minlength')">
          <span class="text-danger">La contraseña debe tener al menos 8 caracteres.</span>
        </div>
        <div *ngIf="tutorForm.get('password')?.hasError('invalidPassword')">
          <span class="text-danger">La contraseña debe contener una mayúscula, un número y un carácter especial.</span>
        </div>
        <div *ngIf="tutorForm.get('password')?.hasError('required')">
          <span class="text-danger">La contraseña es obligatorio.</span>
        </div>
      </div>
    </div>

    <mat-form-field>
      <mat-select placeholder="Seleccionar alumnos" (selectionChange)="onAlumnoChange($event)" multiple>
        <mat-option *ngFor="let alumno of alumnos" [value]="alumno.id">
          {{ alumno.nombre }} {{ alumno.apellido_paterno }} {{ alumno.apellido_materno }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" [disabled]="tutorForm.invalid || isLoading" class="submit-button" (click)="onSubmit()">
      <ng-container *ngIf="!isLoading; else loadingSpinner">
        Registrar
      </ng-container>
    </button>

    <ng-template #loadingSpinner>
      <mat-spinner diameter="20"></mat-spinner>
    </ng-template>
  </form>
</body>
