<body>
  <nav class="bg-light fixed-menu">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
        aria-controls="mobileMenu">
        <img src="assets/img/ico-menu.svg" alt="">
      </button>
    </div>
  </nav>
  <app-menu-admin></app-menu-admin>
  <h2 class="title">Lista de alumnos</h2>
  <div class="image-upload">
    <img src="assets/img/Logo2uia 4.png" alt="Subir foto" />
  </div>
  <form class="form-container">
    <mat-form-field class="rounded-field">
      <mat-select placeholder="Seleccionar grupo" (selectionChange)="onGrupoSeleccionado($event.value)">
        <mat-option *ngFor="let grupo of grupos" [value]="grupo">
          {{ grupo.grado }} - {{ grupo.grupo }} - {{ grupo.especialidad }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <h3 class="title">Lista de Alumnos:</h3>
    <div *ngIf="alumnos.length > 0; else noAlumnos">
      <div class="info-item d-flex align-items-center justify-content-between mb-3" *ngFor="let alumno of alumnos">
        <div class="d-flex align-items-center">
          <img [src]="alumno.imagen_perfil" alt="{{ alumno.nombre }}" width="50" class="img-avar me-3">
          <span><strong>Nombre:</strong> {{ alumno.nombre }} {{ alumno.apellido_paterno }} {{ alumno.apellido_materno
            }}</span>
        </div>
        <div class="dropdown">
          <button class="btn btn-transparent dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul class="dropdown-menu dropdown-transparent">
            <li>
              <a class="dropdown-item text-muted" (click)="verDetalleAlumno(alumno.id)">
                <i class="bi bi-eye me-2"></i> Ver detalles
              </a>
            </li>
            <li>
              <a class="dropdown-item text-muted" (click)="editarAlumno(alumno.id, $event)">
                <i class="bi bi-pencil-square me-2"></i> Editar alumno
              </a>
            </li>
<!--             <li>
              <a class="dropdown-item text-danger"
                (click)="eliminarAlumno(alumno.id, $event)">
                <i class="bi bi-trash me-2"></i> Eliminar alumno
              </a>
            </li> -->
          </ul>
        </div>
      </div>
    </div>


    <ng-template #noAlumnos>
      <p class="title4">Seleccione un grupo de los alumnos que desea ver</p>
      <div class="image-upload">
        <img src="assets/img/auditoria.png" alt="foto" />
      </div>
    </ng-template>
  </form>
</body>
