<nav class="bg-light fixed-menu">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
      aria-controls="mobileMenu">
      <img src="assets/img/ico-menu.svg" alt="">
    </button>
  </div>
</nav>
<app-menu-admin></app-menu-admin>
<h2 class="title">INICIO</h2>

<body>
  <div class="container">
    <!-- Tarjetas Resumen -->
    <div class="summary-cards">
      <div class="card"
        *ngIf="usuario.administrativo.rol.nombre === 'Admin' || usuario.administrativo.rol.nombre === 'Maestro' || usuario.administrativo.rol.nombre === 'Prefecto'">
        <p class="card-title" [routerLink]="['/cbtis248/listAlumnos']"><i class="bi bi-person-circle"></i>Lista de
          alumnos inscritos<i class="bi bi-chevron-compact-right"></i></p>
      </div>
      <div class="card"
        *ngIf="usuario.administrativo.rol.nombre === 'Admin' || usuario.administrativo.rol.nombre === 'Maestro' || usuario.administrativo.rol.nombre === 'Prefecto'">
        <p class="card-title" [routerLink]="['/cbtis248/listResponsable']"><i class="bi bi-people-fill"></i>Lista de
          padres de familia<i class="bi bi-chevron-compact-right"></i></p>
      </div>
      <div class="card"
        *ngIf="usuario.administrativo.rol.nombre === 'Admin' || usuario.administrativo.rol.nombre === 'Maestro' || usuario.administrativo.rol.nombre === 'Prefecto'">
        <p class="card-title" [routerLink]="['/cbtis248/listAvisos']"><i class="bi bi-bell-fill"></i>Lista de avisos<i
            class="bi bi-chevron-compact-right"></i></p>
      </div>
      <div class="card"
        *ngIf="usuario.administrativo.rol.nombre === 'Admin' || usuario.administrativo.rol.nombre === 'Maestro' || usuario.administrativo.rol.nombre === 'Prefecto'">
        <p class="card-title" [routerLink]="['/cbtis248/listIncidencias']"><i
            class="bi bi-exclamation-octagon-fill"></i>Lista de incidencias<i class="bi bi-chevron-compact-right"></i>
        </p>
      </div>
    </div>

    <!-- Sección de Gráficas -->
    <div class="charts-section">
      <div class="chart card">
        <h5>Incidencias levantadas durante el semestre</h5>
        <div class="chart-placeholder">
          <ngx-charts-bar-vertical [results]="chartData" [xAxis]="true" [yAxis]="true" [legend]="true"
            [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Tipo de Incidencia'"
            [yAxisLabel]="'Cantidad'">
          </ngx-charts-bar-vertical>
        </div>
      </div>
      <div class="chart card">
        <h5>Avisos emitidos</h5>
        <div class="chart-placeholder">
          <ngx-charts-bar-vertical [results]="chartAvisosData" [xAxis]="true" [yAxis]="true" [legend]="true"
            [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxisLabel]="'Fecha'" [yAxisLabel]="'Cantidad'">
          </ngx-charts-bar-vertical>
        </div>
      </div>
    </div>
  </div>
</body>
