<body>
  <nav class="bg-light fixed-menu">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
        aria-controls="mobileMenu">
        <img src="assets/img/ico-menu.svg" alt="">
      </button>
    </div>
  </nav>
  <app-menu-admin></app-menu-admin>
  <h2 class="title">Lista de avisos</h2>
  <div class="image-upload">
    <img src="assets/img/Logo2uia 4.png" alt="Subir foto" />
  </div>


  <form class="form-container">

    <mat-form-field class="rounded-field">
      <mat-select placeholder="Seleccionar fecha" (selectionChange)="onFechaSeleccionada($event.value)">
        <mat-option value="todos">Todos los avisos</mat-option>
        <mat-option *ngFor="let fecha of fechasUnicas" [value]="fecha">
          {{ fecha }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Lista de avisos filtrados -->
    <div *ngIf="avisosFiltrados.length > 0; else noAvisos" class="list-group">
      <div *ngFor="let aviso of avisosFiltrados" class="incidencia-item">
        <!-- Botón para cada aviso que muestra la fecha y permite desplegar detalles -->
        <button type="button" class="list-group-item list-group-item-action" (click)="toggleDetalleAviso(aviso)"
          [ngClass]="{'active': aviso === avisoSeleccionado}">
          <p class="incidencia-iconAs">
            <i class="bi bi-calendar2-date"></i>Asunto: {{ aviso.nombre }}
          </p>
          <p class="incidencia-iconAs">
            <i class="bi bi-calendar2-date"></i>Fecha: {{ aviso.fecha | date:'yyyy-MM-dd' }}
          </p>
        </button>

        <!-- Detalles del aviso seleccionado -->
        <div *ngIf="avisoSeleccionado === aviso" class="incidencia-detalle expandido">
          <div class="incidencia-header">
            <h3 class="titleInci">Asunto: {{ aviso.nombre }}</h3>
          </div>
          <div class="info-item">
            <img [src]="aviso.img" alt="foto del aviso" class="img-aviso">
          </div>
          <p class="incidencia-descripcion">
            <i class="bi bi-file-earmark-text"></i><strong>Descripción: </strong> {{ aviso.descripcion }}
          </p>
          <p class="incidencia-fecha">
            <i class="bi bi-calendar2-date"></i><strong>Fecha: </strong> {{ aviso.fecha | date:'yyyy-MM-dd' }}
          </p>
          <p class="incidencia-fecha">
            <i class="bi bi-collection"></i>
            <strong>Grupos:</strong>
          </p>
          <ul>
            <li *ngFor="let grupo of aviso.grupos; let i = index">
              {{ grupo.grado }}{{ grupo.grupo }} ({{ grupo.especialidad }})
            </li>
          </ul>
        </div>
      </div>
    </div>


    <!-- Mensaje si no hay avisos -->
    <ng-template #noAvisos>
      <p class="title4">No hay avisos disponibles para la fecha seleccionada.</p>
      <div class="image-upload">
        <img src="assets/img/auditoria.png" alt="foto" />
      </div>
    </ng-template>

  </form>

</body>
