<div class="content">
  <header>
    <div class="toolbar">
      <button class="close-button" (click)="onClose()"><i class="bi bi-x"></i></button>
      <h1 class="announcement-title">Nombre del anuncio</h1>
    </div>
  </header>
  <div class="card">
    <div class="avatar-container">
      <img alt="perfil" class="avatar-card" src="https://www.cbtis248.edu.mx/bienvenida.png" />
    </div>
    <div class="list">
      <div class="list-item">
        <div class="label">
          <h2 class="info-title">Información del anuncio</h2><br>
          <h3 class="target-announcement">Anuncio dirigido para:</h3>
          <h4> 1°C PROGRAMACIÓN</h4>
          <h3 class="target-announcement">Descripción:</h3><br>

          <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsam eum
            omnis ut nihil corporis vel, est maiores placeat debitis quaerat odit, ratione magni repellat nisi numquam
            incidunt, animi eius recusandae? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam dolor
            natus possimus alias facere dolores eius fuga, laudantium illum molestiae! Placeat, voluptates porro. Ad
            nemo quod quo dignissimos, a nulla? lor lo</p>
        </div>
      </div>
    </div>
  </div>
</div>
