html, body {
  overflow: auto; /* Asegúrate de que no esté configurado en hidden */
}
.text {
  font-size: 4rem;
  text-align: center; /* Centra horizontalmente el texto */
  color: #800020;
  margin-top: 16px;
  text-shadow: 2px 2px 4px rgba(7, 5, 5, 0.46);
  /* Para centrar el texto dentro de su contenedor */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
}

.tex1{
  text-align: center; /* Centra horizontalmente el texto */
  color: #800020;
  margin-top: 16px;
  text-shadow: 2px 2px 4px rgba(7, 5, 5, 0.46);
  /* Para centrar el texto dentro de su contenedor */
  display: flex;
  justify-content: center; /* Centra horizontalmente */
}

/* Contenedor del select y el ícono */
.select-container {
  position: relative;
  width: 270px;
  margin: auto;
  margin-top: 20px;
}

.custom-select {
  width: 100%;
  padding: 10px 40px;
  font-size: 1.2rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  background-color: #f0f0f0;
  appearance: none;
  outline: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #800020;
  pointer-events: none;
}

.arrow-icon {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  font-size: 1.5rem;
  color: #800020;
  pointer-events: none;
}
/* Estilos para la tarjeta principal */
.card {
  width: 350px; /* Se adapta a pantallas pequeñas */
  height: 150px;
  top: 24px;
  background-color: rgb(224, 221, 221);
  padding: 20px;
  border-radius: 16px;
  box-shadow: inset 5px 5px 10px rgba(148, 145, 145, 0.627), inset -5px -5px 10px rgba(142, 142, 142, 0.638);
  margin: 0 auto; /* Centrar horizontalmente */
}

/* Contenido de la tarjeta */
.card-content {
  display: flex;
  flex-direction: column;
  gap: 20px; /* Espacio entre los elementos */
}

/* Elemento dentro de la tarjeta (item) */
.card-item {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Alinear contenido a la izquierda */
  padding: 8px;
  border-bottom: 2px solid #ccc;
  cursor: pointer;
}

/* Imagen miniatura */
.thumbnail {
  width: 100px; /* Ajuste de tamaño para que no sea demasiado grande */
  height: 100px;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0; /* Evitar que el contenedor de la imagen se encoja */
}

.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: contain; /* Asegura que la imagen mantenga su calidad sin deformarse */
}

/* Etiqueta de la tarjeta (texto) */
.card-label {
  margin-left: 20px; /* Separar el texto de la imagen */
  display: flex;
  align-items: center; /* Centrar verticalmente el texto */
}

.card-label span {
  font-weight: bold;
  color: #333;
  font-size: 1.3rem;
}


.fixed-menu {
  position: fixed; /* Hace que el menú sea fijo */
  top: 0; /* Fijar en la parte superior */
  left: 0; /* Fijar en el lado izquierdo */
  width: 0px; /* Ancho del menú */
  height: 10%; /* Ocupa toda la altura de la ventana */
  background-color: #333; /* Color de fondo */
  top: 12px;
  color: white;
  z-index: 1000; /* Asegura que esté por encima del contenido */
}


.navbar-toggler {
  border: none; /* Sin borde en el botón */
  outline: none !important; /* Asegúrate de que el contorno no aparezca nunca */
  box-shadow: none !important; /* Evita cualquier sombra que pueda aparecer */
}

.navbar-toggler:focus {
  outline: none !important; /* Evita el contorno al hacer clic */
  box-shadow: none !important; /* Evita cualquier sombra al hacer clic */
}

.navbar-toggler:active {
  outline: none !important; /* Evita el contorno mientras el botón está activo */
  box-shadow: none !important; /* Elimina cualquier sombra o efecto activo */
}

html, body {
  overflow: auto; /* Asegúrate de que no esté configurado en hidden */
}
.title {
  font-size: 1.5rem;
  color: #671233;
  text-align: center;
  margin-top: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
}

.image-upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  object-fit: cover; /* Asegura que la imagen llene el contenedor sin perder calidad */
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.form-group label {
  color: #671233;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.form-group input {
  font-weight: bold;
  color: #671233;
  padding: 10px;
  border: none;
  border-bottom: 2px solid #671233; /* Reducir grosor a 2px */
  outline: none;
  font-size: 1rem;
  background: transparent;
}

.form-group textarea {
  font-weight: bold;
  color: #671233;
  border: none;
  border-bottom: 2px solid #671233; /* Reducir grosor a 2px */
  outline: none;
  font-size: 1rem;
  background: transparent;
}

.submit-button {
  background-color: #f8c8d6; /* Guinda bajito */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.submit-button:disabled {
  background-color: #aa9da1; /* Guinda bajito cuando está deshabilitado */
  cursor: not-allowed;
}

.submit-button:not(:disabled) {
  background-color: #671233; /* Guinda fuerte cuando está habilitado */
}

mat-form-field {
  width: 100%; /* Ajusta el ancho como desees */
  border-radius: 8px; /* Bordes redondeados */
  overflow: hidden; /* Asegura que el contenido respete los bordes redondeados */
}

.mat-select-panel {
  border-radius: 8px; /* Bordes redondeados del panel desplegable */
}

.mat-select {
  background-color: #D9D9D9; /* Color de fondo */
  color: #671233; /* Color de las letras */
  border-radius: 8px; /* Bordes redondeados */
}

.mat-select .mat-select-value {
  color: #671233; /* Color del texto seleccionado */
}

.mat-option {
  color: #671233; /* Color de las opciones */
}

/* CSS DEL MENU */
.navbar-toggler {
  border: none; /* Sin borde en el botón */
}

.fixed-menu {
  position: fixed; /* Hace que el menú sea fijo */
  top: 0; /* Fijar en la parte superior */
  left: 0; /* Fijar en el lado izquierdo */
  width: 0px; /* Ancho del menú */
  height: 10%; /* Ocupa toda la altura de la ventana */
  background-color: #ffffff; /* Color de fondo */
  top: 12px;
  color: white;
  z-index: 1000; /* Asegura que esté por encima del contenido */
}

.navbar-toggler {
  border: none; /* Sin borde en el botón */
  outline: none !important; /* Asegúrate de que el contorno no aparezca nunca */
  box-shadow: none !important; /* Evita cualquier sombra que pueda aparecer */
}

.navbar-toggler:focus {
  outline: none !important; /* Evita el contorno al hacer clic */
  box-shadow: none !important; /* Evita cualquier sombra al hacer clic */
}

.navbar-toggler:active {
  outline: none !important; /* Evita el contorno mientras el botón está activo */
  box-shadow: none !important; /* Elimina cualquier sombra o efecto activo */
}

.info-item {
  display: flex;
  align-items: center;
  background-color: #d9d9d9;
  padding: 0.8rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1), inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

/* Estilo para los íconos */
.info-item i {
  font-size: 1.5rem;
  margin-left: auto; /* Mueve el ícono a la derecha */
}

/* Estilo específico para la imagen */
.info-item img {
  margin-right: 15px; /* Espacio a la derecha de la imagen */
}

.title4 {
  font-size: 1rem;
  color: #671233;
  text-align: center;
  margin-top: 10px;
}
