<nav class="bg-light fixed-menu" *ngIf="!isModalOpen">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
      aria-controls="mobileMenu">
      <img src="assets/img/ico-menu.svg" alt="">
    </button>
  </div>
</nav>
<br><br>
<div class="text" *ngIf="!isModalOpen">
  <h2>Avisos Importantes</h2>
</div>
<p class="tex1" *ngIf="!isModalOpen">Por favor revisar bien los anuncios de sus hijos/as</p>

<div class="select-container" *ngIf="!isModalOpen">
  <select class="custom-select">
    <option value="" disabled selected>Seleccione la fecha:</option>
    <option value="opcion1">Opción 1</option>
    <option value="opcion2">Opción 2</option>
    <option value="opcion3">Opción 3</option>
  </select>
  <div class="icon">
    <i class="bi bi-person-fill"></i>
  </div>
  <div class="arrow-icon">
    <i class="bi bi-chevron-down"></i>
  </div>
</div>

<div class="card" (click)="openModal()">
  <div class="card-content">
    <div class="card-item">
      <div class="thumbnail">
        <img src="https://www.cbtis248.edu.mx/bienvenida.png" alt="Silhouette of mountains">
      </div>
      <div class="card-label">
        <span>Reunion de padres de familia y tequio en general</span>
      </div>
    </div>
    <!-- Otros elementos similares -->
  </div>
</div>
