<body>
  <nav class="bg-light fixed-menu">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#mobileMenu"
        aria-controls="mobileMenu">
        <img src="assets/img/ico-menu.svg" alt="">
      </button>
    </div>
  </nav>
  <app-menu-admin></app-menu-admin>
  <h2 class="title">Lista de administrativos</h2>
  <div class="image-upload">
    <img src="assets/img/Logo2uia 4.png" alt="Subir foto" />
  </div>
  <form class="form-container">

    <mat-form-field class="rounded-field">
      <mat-select placeholder="Seleccionar el rol del administrativo" id="roleSelect"
        (selectionChange)="onRoleChange($event)">
        <mat-option value="all">
          Todos los administrativos
        </mat-option>
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{ role.nombre }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div *ngIf="administrativos.length === 0; else adminList">
      <p class="title4">No hay administrativos con ese ROL, por favor seleccione otro ROL</p>
      <div class="image-upload">
        <img src="assets/img/auditoria.png" alt="foto" />
      </div>
    </div>

    <ng-template #adminList>
      <div class="info-item d-flex align-items-center justify-content-between mb-3" *ngFor="let admin of administrativos">
        <div class="d-flex align-items-center">
          <img [src]="admin.img" alt="{{ admin.nombre }}" width="50" class="img-avar me-3">
          <span>
            <strong>Administrativo:</strong>
            {{ admin.nombre }}
            {{ admin.apellido_paterno }}
            {{ admin.apellido_materno }}
          </span>
        </div>
        <div class="dropdown">
          <button class="btn btn-transparent dropdown" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-three-dots"></i>
          </button>
          <ul class="dropdown-menu dropdown-transparent">
            <li>
              <a class="dropdown-item text-muted" (click)="verDetalleAdministrativo(admin.id)">
                <i class="bi bi-eye me-2"></i> Ver detalles
              </a>
            </li>
            <li>
              <a class="dropdown-item text-muted" (click)="editarAdministrativo(admin.id, $event)">
                <i class="bi bi-pencil-square me-2"></i> Editar administrativo
              </a>
            </li>
            <li>
              <a class="dropdown-item text-danger" (click)="eliminarAdministrativo(admin.id, $event)">
                <i class="bi bi-trash me-2"></i> Eliminar administrativo
              </a>
            </li>
          </ul>
        </div>
      </div>
    </ng-template>

  </form>
</body>
