<div class="card">
  <div class="img">
    <img src="assets/img/Logo2uia 3.png" alt="App Logo">
  </div>
  <div class="card-conten">
    <h1>Iniciar sesión</h1>
    <p>Por favor inicie sesión para continuar</p>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="input-container">
        <div class="input-wrapper">
          <i class="bi bi-person user-icon"></i> <!-- Ícono de usuario -->
          <input type="email" id="email" required [(ngModel)]="credentials.correo_electronico" name="email" placeholder="Correo Electrónico"/>
        </div>
      </div>

      <div class="input-container">
        <div class="input-container">
          <div class="input-wrapper">
            <i class="bi bi-lock password-icon"></i>
            <input [type]="showPassword ? 'text' : 'password'" id="password" required [(ngModel)]="credentials.password" name="password" placeholder="Contraseña">
            <i class="bi" (click)="togglePasswordVisibility()" [ngClass]="showPassword ? 'bi-eye-slash-fill eye-icon' : 'bi-eye-fill eye-icon'"></i>
          </div>
        </div>
      </div>


      <button type="submit">Iniciar Sesión</button>
    </form>
  </div>
  <mat-spinner *ngIf="isLoading" class="loading-spinner"></mat-spinner>
</div>
