<body>
  <div class="content">
    <header>
      <div class="toolbar">
        <button class="close-button" (click)="onClose()">
          <i class="bi bi-x-circle"></i>
        </button>
        <h1 class="announcement-title">{{ incidencia?.tipo_incidencia.nombre || 'Cargando...' }}</h1>
      </div>
    </header>

    <div class="card">
      <div class="avatar-container">
        <img alt="perfil" class="avatar-card" src="assets/img/Logo2uia 4.png" />
      </div>

      <div class="list">
        <div class="list-item">
          <div class="label">

            <div class="incidencia-detalle expandido">
              <div class="incidencia-header">
                <h3 class="titleInci">Asunto: {{ incidencia?.tipo_incidencia?.nombre }}</h3>
              </div>

              <p class="incidencia-fecha">
                <i class="bi bi-people"></i><strong>Alumno: </strong> {{ incidencia?.alumno.nombre }} {{ incidencia?.alumno.apellido_paterno }} {{ incidencia?.alumno.apellido_materno }}
              </p>

              <p class="incidencia-clasificacion">
                <i class="bi bi-building-exclamation"></i><strong>Clasificación: </strong>
                {{ incidencia?.tipo_incidencia?.descripcion }}
              </p>

              <p class="incidencia-descripcion">
                <i class="bi bi-file-earmark-text"></i><strong>Descripción: </strong> {{ incidencia?.descripcion ||
                'Descripción no disponible.' }}
              </p>

              <p class="incidencia-fecha">
                <i class="bi bi-people"></i><strong>Emitido por: </strong> {{ incidencia?.administrativo.nombre }} {{ incidencia?.administrativo.apellido_paterno }} {{ incidencia?.administrativo.apellido_materno }}
              </p>

              <p class="incidencia-fecha">
                <i class="bi bi-calendar2-date"></i><strong>Fecha: </strong> {{ incidencia?.fecha ||'Cargando fecha' }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</body>
