  <br><br>
  <!-- Card padre con el texto "Maximiliano León" -->
  <div class="card-parent">
    <div class="main-container">
      <div class="image-container">
        <div class="card">
          <img src="assets/img/Logo2uia 3.png" alt="App Logo" class="logo">
          <div class="profile-border">
            <img src="assets/img/maxfoto.png" alt="Profile Image" class="logo1">
          </div>
        </div>
      </div>
    </div>
  </div>
<!-- app info -->
<div class="profile-card">
  <h5 class="profile-name">Maximiliano León</h5>

  <div class="info-section">
    <p>Información:</p>

    <div class="info-item">
      <i class="bi bi-envelope"></i> <!-- Icono de correo -->
      <span>Correo del responsable</span>
    </div>

    <div class="info-item">
      <i class="bi bi-person-badge"></i> <!-- Icono de CURP -->
      <span>CURP</span>
    </div>

    <div class="info-item">
      <i class="bi bi-telephone"></i> <!-- Icono de teléfono -->
      <span>Teléfono</span>
    </div>

    <div class="info-item">
      <i class="bi bi-person"></i> <!-- Icono de perfil -->
      <span>Tipo de perfil</span>
    </div>
  </div>

  <button class="logout-btn">Cerrar sesión</button>
</div>

<!-- Importar Bootstrap Icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.5.0/font/bootstrap-icons.min.css">


