 <div class="offcanvas offcanvas-start" tabindex="-1" id="mobileMenu" aria-labelledby="mobileMenuLabel">
  <div class="offcanvas-header bg-custom text-white">
    <div class="text-center w-100">
      <img src="assets/img/maxfoto.png" alt="Profile Image" class="rounded-circle profile-img logo1">
      <br><br>
      <h5 class="mt-2 title">Maximiliano León</h5>
    </div>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cbtis248/home']" ><i class="bi bi-house-door"></i> Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cbtis248/historialIncidencias']" ><i class="bi bi-envelope"></i> Historial de incidencias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cbtis248/avisos']" ><i class="bi bi-exclamation-circle"></i> Avisos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/cbtis248/profile']"><i class="bi bi-person-bounding-box"></i>Perfil</a>
      </li>
    </ul>
  </div>
</div>
